<div class="relative h-screen bg-gray-900 overflow-hidden">
  <img class="absolute inset-0 object-cover object-center w-full h-full"
       src="https://cf.bstatic.com/static/img/theme-index/bg_resorts/6e8294d75f648eab2cd2818f0a40854367e584a5.jpg"
       alt="Background Image">
  <div class="absolute inset-0 bg-gray-900 opacity-75"></div>
  <div class="relative flex items-center justify-center h-full">
    <div class="text-center">
      <h1 class="text-5xl font-bold text-white mb-8">Book Your Dream Hotel</h1>
      <div class="space-x-4">
        <a routerLink="/hotels"
           class="px-6 py-3 bg-indigo-600 text-white font-semibold rounded-lg hover:bg-indigo-500 transition duration-300 ease-in-out">
          Explore Hotels
        </a>
    </div>
  </div>
</div>
