<nav [class.bg-transparent]="!notHomePage()" class="fixed top-0 left-0 right-0 z-50 bg-gray-900">
  <div class="container mx-auto px-6 py-6 flex flex-col md:flex-row items-center justify-between">
    <div class="flex items-center justify-center md:justify-start mb-4 md:mb-0">
      <a routerLink="/" class="text-white text-lg font-bold p-2 border-b-2 border-transparent hover:border-indigo-500 duration-500 rounded-xl">Angular Hotels Booking App</a>
    </div>
    <div [class.hidden]="inAuthModule()">
      <div class="hidden md:flex items-center">
        <ng-container *ngIf="authService.currentUser$ | async as user">
          <span class="text-white font-semibold mr-2">Hi {{ user.userName }}</span>
          <a (click)="logout()" class="px-4 py-2 mx-2 bg-white text-gray-800 font-semibold rounded-lg hover:bg-gray-200 transition duration-300 ease-in-out">Logout</a>
        </ng-container>
        <a *ngIf="!(authService.currentUser$ | async)" routerLink="/auth/login" class="px-4 py-2 mx-2 bg-white text-gray-800 font-semibold rounded-lg hover:bg-gray-200 transition duration-300 ease-in-out">Sign In</a>
        <a *ngIf="!(authService.currentUser$ | async)" routerLink="/auth/register" class="px-4 py-2 mx-2 bg-purple-600 text-white font-semibold rounded-lg hover:bg-purple-500 transition duration-300 ease-in-out">Create an Account</a>
        <a *ngIf="authService.currentUser$ | async" routerLink="/bookings" class="px-4 py-2 mx-2 bg-white text-gray-800 font-semibold rounded-lg hover:bg-gray-200 transition duration-300 ease-in-out">My Bookings</a>
      </div>
      <div class="md:hidden">
        <button (click)="toggleMobileMenu()" type="button" class="text-white focus:outline-none">
          <i class="fas fa-bars"></i>
        </button>
      </div>
    </div>
    <div [ngClass]="{'hidden': !isMobileMenuOpen}" class="md:hidden">
      <div [class.bg-transparent]="!notHomePage()" class="bg-gray-900 flex flex-col items-center">
        <ng-container *ngIf="authService.currentUser$ | async as user">
          <span class="text-white font-semibold mb-2">Hi {{ user.userName }}</span>
          <a (click)="logout()" class="block w-full py-2 text-center text-white hover:bg-indigo-500">Logout</a>
        </ng-container>
        <a *ngIf="!(authService.currentUser$ | async)" routerLink="/auth/login" class="block w-full py-2 text-center text-white hover:bg-indigo-500">Sign In</a>
        <a *ngIf="!(authService.currentUser$ | async)" routerLink="/auth/register" class="block w-full py-2 text-center text-white hover:bg-indigo-500">Create an Account</a>
        <a *ngIf="authService.currentUser$ | async" routerLink="/bookings" class="block w-full py-2 text-center text-white hover:bg-indigo-500">My Bookings</a>
      </div>
    </div>
  </div>
</nav>
